In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [37]:

# Read the file NepseDataHistorical1997_2024.csv
df1 = pd.read_csv('NepseDataHistorical1997_2024.csv')

# Print the dataframe
print(df1)

        SN      open      high       low     close  change  pct_change  \
0        1  2,046.62  2,046.62  2,013.75  2,017.46  -27.26       -1.33
1        2  2,027.80  2,078.51  2,027.80  2,078.51   61.05        3.03
2        3  2,081.98  2,134.62  2,081.98  2,132.96   54.45        2.62
3        4  2,134.14  2,141.35  2,085.93  2,088.16  -44.80       -2.10
4        5  2,089.01  2,111.99  2,066.08  2,111.99   23.83        1.14
...    ...       ...       ...       ...       ...     ...         ...
6083  6084    172.66    172.66    172.66    172.66    0.00        0.00
6084  6085    172.68    173.03    173.03    173.03    0.00        0.00
6085  6086    173.03    173.03    173.03    173.03    0.00        0.00
6086  6087    173.25    173.25    173.25    173.25    0.00        0.00
6087  6088    173.26    173.26    173.26    173.26    0.00        0.00

              turnover        date
0     1,443,432,770.47  22/07/2022
1     2,730,937,196.52  24/07/2022
2     4,106,818,941.36  25/07/2022
3     3,704,998,398.24  26/07/2022
4     3,161,455,141.99  27/07/2022
...                ...         ...
6083                 0  24/07/1997
6084                 0  23/07/1997
6085                 0  22/07/1997
6086                 0  21/07/1997
6087                 0  20/07/1997

[6088 rows x 9 columns]

In [38]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6088 entries, 0 to 6087
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SN          6088 non-null   int64
 1   open        6088 non-null   object
 2   high        6088 non-null   object
 3   low         6088 non-null   object
 4   close       6088 non-null   object
 5   change      6088 non-null   float64
 6   pct_change  6088 non-null   float64
 7   turnover    6088 non-null   object
 8   date        6088 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 428.2+ KB

In [42]:
# Convert 'open', 'high', 'low', 'close', 'turnover' to numeric values
numeric_cols = ['open', 'high', 'low', 'close', 'turnover']
for col in numeric_cols:
    df1[col] = pd.to_numeric(df1[col].str.replace(',', ''), errors='coerce')

# Convert 'date' to datetime
df1['date'] = pd.to_datetime(df1['date'], format='%d/%m/%Y', errors='coerce')

# Drop the 'SN' column if it's just a serial number and not needed
df1.drop('SN', axis=1, inplace=True)

# Display the updated DataFrame
df1.head()

,open,high,low,close,change,pct_change,turnover,date
0,2046.62,2046.62,2013.75,2017.46,-27.26,-1.33,1.443433e+09,2022-07-22
1,2027.80,2078.51,2027.80,2078.51,61.05,3.03,2.730937e+09,2022-07-24
2,2081.98,2134.62,2081.98,2132.96,54.45,2.62,4.106819e+09,2022-07-25
3,2134.14,2141.35,2085.93,2088.16,-44.80,-2.10,3.704998e+09,2022-07-26
4,2089.01,2111.99,2066.08,2111.99,23.83,1.14,3.161455e+09,2022-07-27

In [43]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6088 entries, 0 to 6087
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   open        6088 non-null   float64
 1   high        6088 non-null   float64
 2   low         6088 non-null   float64
 3   close       6088 non-null   float64
 4   change      6088 non-null   float64
 5   pct_change  6088 non-null   float64
 6   turnover    6088 non-null   float64
 7   date        6088 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(7)
memory usage: 380.6 KB

In [45]:
# Check for any missing values
missing_values = df1.isnull().sum()

In [47]:
# Display the updated data and any missing values
df2 = df1.head()
missing_values

open          0
high          0
low           0
close         0
change        0
pct_change    0
turnover      0
date          0
dtype: int64