In [1]:
#importing the necessaries libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
import pandas as pd

# Function to clean and preprocess the data
def clean_nepse_data(file_path):
    # Read the dataset
    df = pd.read_csv(file_path)

    # Convert date column to datetime format
    df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y')

    # List of columns to convert from string to float
    columns_to_convert = ['open', 'high', 'low', 'close', 'change', 'turnover']

    # Loop through each column and convert it
    for col in columns_to_convert:
        # Check if the column is of type object (string)
        if df[col].dtype == 'object':
            df[col] = df[col].str.replace(',', '').astype(float)
        # If already float or int, no action needed
        else:
            pass

#     # Optional: Set the date as the index of the dataframe
#     df.set_index('date', inplace=True)

    return df

# Usage
file_path = 'NepseDataHistorical1997_2024.csv'  # Update with the path to your data file
cleaned_df = clean_nepse_data(file_path)

# Display the first few rows of the cleaned dataframe
print(cleaned_df.head())

   SN     open     high      low    close  change  pct_change      turnover  \
0   1  2046.62  2046.62  2013.75  2017.46  -27.26       -1.33  1.443433e+09
1   2  2027.80  2078.51  2027.80  2078.51   61.05        3.03  2.730937e+09
2   3  2081.98  2134.62  2081.98  2132.96   54.45        2.62  4.106819e+09
3   4  2134.14  2141.35  2085.93  2088.16  -44.80       -2.10  3.704998e+09
4   5  2089.01  2111.99  2066.08  2111.99   23.83        1.14  3.161455e+09

        date
0 2022-07-22
1 2022-07-24
2 2022-07-25
3 2022-07-26
4 2022-07-27

In [33]:
cleaned_df.head(5)

,SN,open,high,low,close,change,pct_change,turnover,date
0,1,2046.62,2046.62,2013.75,2017.46,-27.26,-1.33,1.443433e+09,2022-07-22
1,2,2027.80,2078.51,2027.80,2078.51,61.05,3.03,2.730937e+09,2022-07-24
2,3,2081.98,2134.62,2081.98,2132.96,54.45,2.62,4.106819e+09,2022-07-25
3,4,2134.14,2141.35,2085.93,2088.16,-44.80,-2.10,3.704998e+09,2022-07-26
4,5,2089.01,2111.99,2066.08,2111.99,23.83,1.14,3.161455e+09,2022-07-27

In [34]:
cleaned_df.describe()

,SN,open,high,low,close,change,pct_change,turnover,date
count,6088.000000,6088.000000,6088.000000,6088.000000,6088.000000,6088.000000,6088.000000,6.088000e+03,6088
mean,3044.500000,846.443448,850.385049,841.792147,845.834386,0.286082,0.034207,6.515118e+08,2010-10-13 03:01:25.151117056
min,1.000000,156.430000,156.430000,156.430000,156.430000,-123.340000,-6.040000,0.000000e+00,1997-07-20 00:00:00
25%,1522.750000,296.980000,296.980000,296.980000,296.980000,0.000000,0.000000,0.000000e+00,2004-02-26 18:00:00
50%,3044.500000,529.000000,529.000000,529.000000,529.000000,0.000000,0.000000,0.000000e+00,2010-09-26 12:00:00
75%,4566.250000,1252.920000,1259.117500,1245.752500,1254.402500,0.000000,0.000000,3.164942e+08,2017-05-16 06:00:00
max,6088.000000,3208.530000,3226.890000,3178.580000,3198.600000,161.940000,6.060000,2.164760e+10,2024-01-01 00:00:00
std,1757.598551,701.014519,707.257505,692.981111,699.597133,15.025187,0.946087,1.933739e+09,NaN

In [35]:
nepse_data_daily=cleaned_df

In [36]:
nepse_data_daily.head()

,SN,open,high,low,close,change,pct_change,turnover,date
0,1,2046.62,2046.62,2013.75,2017.46,-27.26,-1.33,1.443433e+09,2022-07-22
1,2,2027.80,2078.51,2027.80,2078.51,61.05,3.03,2.730937e+09,2022-07-24
2,3,2081.98,2134.62,2081.98,2132.96,54.45,2.62,4.106819e+09,2022-07-25
3,4,2134.14,2141.35,2085.93,2088.16,-44.80,-2.10,3.704998e+09,2022-07-26
4,5,2089.01,2111.99,2066.08,2111.99,23.83,1.14,3.161455e+09,2022-07-27

In [37]:
# converting this data into weekly data

In [38]:
# Assuming nepse_data is your DataFrame
# Make sure the 'date' column is in datetime format
nepse_data['date'] = pd.to_datetime(nepse_data_daily['date'])

# Set the date as the index
nepse_data.set_index('date', inplace=True)

# Resample the data to get weekly data
# 'open' - first 'open' value of the week
# 'high' - max 'high' value of the week
# 'low' - min 'low' value of the week
# 'close' - last 'close' value of the week
weekly_data = nepse_data.resample('W-MON').agg({
    'open': 'first',
    'high': 'max',
    'low': 'min',
    'close': 'last',
    'turnover': 'sum'  # Summing up the turnover for the week
})

weekly_data.head()

AttributeError: 'NaTType' object has no attribute 'normalize'